/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.products, .clients {
  /* outline: solid tomato;      */
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}

.button-primary {
  font-size: 16px;
  display: inline-block;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features .is-hidden,
.portfolio .is-hidden {
  display: none;
}

.page {
  padding-top: 80px;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.container {
  /* outline: solid tomato;      */
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* .link {
    text-decoration: none;
    /* color: var(--primary-text-color );
}  */
a:hover,
button:hover {
  cursor: pointer;
}

img {
  display: block;
  margin: 0;
  max-width: 100%;
  height: auto;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid #ECECEC;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu,
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.menu-item + .menu-item {
  margin-left: 50px;
}

.menu-item:first-child {
  margin-right: 85px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.menu-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 33px;
  color: #212121;
  text-decoration: none;
  -webkit-animation-name: color;
          animation-name: color;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover, .menu-link:focus {
  color: #2196F3;
}

/* blue underline */
.menu-link::after,
.active::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.menu-link::after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover::after, .menu-link:focus::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.active {
  color: #2196F3;
}

.active::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

/* email and address */
.contact-item {
  fill: #757575;
}

.contact-item:not(:last-child) {
  margin-right: 20px;
}

.contact-icon {
  vertical-align: bottom;
  margin-right: 10px;
}

.contact-link {
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
  line-height: 1.14;
  text-decoration: none;
  -webkit-animation-name: color;
          animation-name: color;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-name: fill;
          animation-name: fill;
  animation-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover, .contact-link:focus {
  color: #2196F3;
  fill: #2196F3;
}

.logo {
  text-decoration: none;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo .logo-web {
  color: #2196F3;
}

.logo-studio:hover,
.logo-studio:focus {
  color: #000000;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/header_1.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/header_1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #757575;
}

.hero-content {
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.06em;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;
}

.button-primary {
  border: 1px solid #2196F3;
  padding: 10px 32px;
  color: #ffffff;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-primary:hover, .button-primary:focus {
  color: #212121;
  border-color: #F5F4FA;
  background-color: #F5F4FA;
}

.section-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.section-subtitle {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.section-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-item:not(:last-child) {
  margin-right: 30px;
}

.features .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-label {
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.features-icon {
  width: 70px;
  height: 70px;
}

.features-descriptions {
  margin: 10px 0 10px 0;
  color: #757575;
}

.products {
  padding-bottom: 94px;
}

.products .section-subtitle {
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 100%;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  text-align: center;
}

.products-thumb {
  position: relative;
}

/* team list */
.team {
  background-color: #F5F4FA;
}

.team .section-item {
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}

.team .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-card {
  padding: 30px 24px 32px 24px;
}

.team-card:hover, .team-card:focus {
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team-text {
  margin-top: 0;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-name {
  /* margin-top: 30px; */
  margin-bottom: 10px;
  font-weight: 500;
}

.team-job {
  margin-bottom: 16px;
  color: #757575;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
}

.social .list:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  text-decoration: none;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  -webkit-animation-name: fill;
          animation-name: fill;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-name: background-color;
          animation-name: background-color;
  animation-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: #2196F3;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  -webkit-animation-name: fill;
          animation-name: fill;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-name: border-color;
          animation-name: border-color;
  animation-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list:hover, .clients-list:focus {
  border-color: #2196F3;
}

.clients-icon {
  fill: #AFB1B8;
  width: 100%;
}

.clients-list:hover .clients-icon,
.clients-list:focus .clients-icon {
  fill: #2196F3;
}

.footer {
  background-color: #2F303A;
  width: 100%;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-bottom: 29px;
}

.footer-list {
  padding-top: 51px;
  list-style: none;
}

.footer-list-list:not(:last-child) {
  margin-right: 94px;
}

.footer-list .button-primary {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-list .button-primary:hover .icon-send {
  fill: #2196F3;
}

.footer-subtitle {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.footer .social {
  margin: 0px;
}

.footer .social-icon {
  fill: #ffffff;
}

.footer-subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-label {
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input {
  /* color: #ffffff; */
  padding: 18px 95px 18px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2F303A;
  color: #F5F4FA;
}

.footer-copyright {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 16px;
  padding-bottom: 19px;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-content .footer-info {
  padding-top: 39px;
}

.footer-content .footer-info .logo-studio {
  color: #ffffff;
}

.address-list {
  display: inline-block;
  margin-top: 8px;
  margin-right: 69px;
  padding: 0;
  font-style: normal;
  color: #ffffff;
}

.address-list:not(:last-child) {
  margin-right: 94px;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.icon-send {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  -webkit-animation-name: fill;
          animation-name: fill;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  /* top: 27%; 
    left: 30%; */
  top: 50%;
  left: 50%;
  width: 450px;
  max-width: 100%;
  /* height: 609px; */
  -webkit-transform: translate(-50%, -50%) scale(1, 1);
          transform: translate(-50%, -50%) scale(1, 1);
  padding: 40px;
  overflow: auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  -webkit-animation-name: transform;
          animation-name: transform;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-name: opacity;
          animation-name: opacity;
  animation-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* styles for the button to close */
.icon-close {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  -webkit-animation-name: fill;
          animation-name: fill;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close:hover,
.icon-close:focus {
  fill: #2196F3;
  cursor: pointer;
  outline: none;
}

/* styles for the whole form */
.modal-title {
  display: inline-block;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.modal-info {
  margin: 0;
  padding: 0;
  max-width: 100;
  list-style: none;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-field {
  position: relative;
}

.modal-field:not(:last-child) {
  margin-bottom: 28px;
}

.modal-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
  position: absolute;
  top: 12px;
  left: 42px;
  /* transform: translateY(-30px);  */
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-label,
.modal-input:not(:placeholder-shown) + .modal-label {
  color: #2196F3;
  /* transform: translateY(-30px); 
    left: 10px; */
  -webkit-transform: translatex(-30px) translatey(-30px);
          transform: translatex(-30px) translatey(-30px);
}

.modal-icon {
  position: absolute;
  top: 11px;
  left: 16px;
  margin-right: 8px;
}

/* .modal-input:hover ~.modal-icon, */
.modal-input:focus ~ .modal-icon {
  fill: #2196F3;
}

/* styles for textarea */
.comment-field {
  position: relative;
}

.modal-textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.comment-label {
  position: absolute;
  top: 12px;
  left: 16px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus + .comment-label,
.modal-textarea:not(:placeholder-shown) + .comment-label {
  color: #2196F3;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

/* styles for an agreement */
.checkbox-form {
  display: block;
  margin-top: 20px;
  margin-bottom: 30px;
}

.agreement-conditions {
  color: #2196F3;
  text-decoration: underline;
  padding-left: 4px;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  position: absolute;
}

.checkbox,
.checkbox-label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.checkbox-label::before {
  content: "";
  display: inline-block;
  border: 2px solid #212121;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  margin-right: 8px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  outline: none;
}

.checkbox:checked ~ .checkbox-label::before {
  background-color: #2196F3;
  background-image: url(../images/tick.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: center;
  border-color: transparent;
  cursor: pointer;
}

.modal-input:focus,
.modal-textarea:focus {
  cursor: pointer;
  border-color: #2196F3;
  outline: none;
}

.button-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 56px;
  margin: auto;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */