
.clients {
    .container {
        @extend %paddings94;
    }    


    &-list {
        @include centeredFlex();

        box-sizing: border-box;
        border: 1px solid $additional-link-color;
        border-radius: 4px;
       width: 170px;
        height: 90px;

        
        @include transition($animation-name: (fill, border-color));
       
            &:hover,
            &:focus {
            border-color:$accent-color;
        }
    
    }
    
    
    
    &-icon {
        fill: $additional-link-color;
         width: 100%;

    
         .clients-list:hover &,
         .clients-list:focus & {
             fill: $accent-color;
         }
    
    }
    
    
    

}



