.products {
    .container {
    padding-bottom: 94px;
    }

    .section-subtitle {
        position: absolute;
        left: 0;
        bottom: 0;
        display: inline-block;
        width: 100%;
       
        padding: 27px 0;
        background-color: rgba(47, 48, 58, 0.8);
        color: $title-text-color;
        text-align: center;
    
    }
    &-thumb {
        position: relative;
        
    }
   
}


