

/* team list */
.team {
    background-color: $secondary-background-color;

    & .section-item {
    
        background: $primary-background-color;
        border-radius: 0px 0px 4px 4px;
        width: 270px;
    
    }
    
    & .container {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    &-card {
        padding: 30px 24px 32px 24px;
    
        &:hover,
        &:focus {
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px $shadow-black;
    }
    } 


    &-text {
        margin-top: 0;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
    }

    &-name {
        /* margin-top: 30px; */
        margin-bottom: 10px;
        font-weight: 500;
    }
    &-job {
        margin-bottom: 16px;
        color: $secondary-text-color;
     }
    


}





 