.page {
    padding-top: 80px;

    color: $primary-text-color; 
    font-family: $font-text;
    @include fontStyle();
}
   
.container {
    /* outline: solid tomato;      */
    margin: 0 auto;
    padding: 0 15px;
    // width: 1200px;
    
    
    
}


@media screen and (min-width: 480px) {
    .container {
        max-width: 480x;

      background-color: #388e3c;
    }
  }
 
  @media screen and (min-width: 768px) {
    .container {
        max-width: 768x;

      background-color: blue;
    }
  }

  @media screen and (min-width: 1200px) {
    .container {
        max-width: 1200x;

      background-color: red;
    }
  }
  
.list {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

 a:hover,
 button:hover {
    cursor: pointer;
} 

img {
    display: block;
    margin: 0;
    max-width: 100%;
    height: auto;
}  

