.header {
    position: fixed;
    width: 100%;
    background-color: $primary-background-color;
    top: 0;
    z-index: 2; 
    border-bottom: 1px solid #ECECEC; 
   
    & .container {
        @include centeredFlex();
    
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        
    } 
} 


.menu,
.contact {
    display: flex;
    margin-left: auto;
} 

.menu {
    &-item {
        & + & {
            margin-left: 50px;
        }
        &:first-child {
            margin-right: 85px;
            
            padding-top: 24px;
            padding-bottom: 25px; 
        }
    }
    
    &-link {
        position: relative;
    
        display: block;
        padding-top: 32px;
        padding-bottom: 33px;
        color: $primary-text-color;
        text-decoration: none;
    
    
        @include transition();
    
        &:hover,
        &:focus {
        color: $accent-color;
    }
    }
    
    
    
}

/* blue underline */

.menu-link::after,
.active::after {
    position: absolute;
    left: 0;
    bottom: 0;

    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
    transform: scaleX(0);
}

.menu-link {

    &:hover::after,
    &:focus::after {
        transform: scaleX(1);
        transition: transform $animation-duration $animation-timing-function;
    }
}


.active {
    color: $accent-color;

    &::after {
        transform: scaleX(1);
    }
    
}

/* email and address */
.contact {
    &-item {
        fill: $secondary-text-color; 
    
            &:not(:last-child) {
                margin-right: 20px;
            }
     }

    &-icon {
        vertical-align: bottom;
        margin-right: 10px;  
    
    }  
    &-link {
        color: $secondary-text-color;
        padding-top: 32px;
        padding-bottom: 32px;
        line-height: 1.14;
        text-decoration: none;
    
        @include transition($animation-name: (color, fill));
        
        
            &:hover,
            &:focus {
            color: $accent-color;
            fill: $accent-color;
            }
    
    }


}
 
 

 


