
.section {

    &-title {
        margin-top: 0px;
        margin-bottom: 50px;
        text-align: center;
        @include fontStyle($weight: 700, $size: 36px, $height: 1.16);
      
    }
    &-subtitle {
        margin: 0;
        padding: 0;

        @include fontStyle($weight: 700, $size: 14px, $height: 1.14);
        text-transform: uppercase;
    
    }
    
    &-list {
        display: flex;
    }
    
    &-item:not(:last-child) {
        margin-right: 30px;
    }


}

