.works {
    display: flex;
    flex-wrap: wrap;


    &-item {
        // width: 370px; 
        width: calc((100% - 60px ) / 3);

        margin-right: 30px;
        margin-bottom: 30px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        overflow: hidden;
        
    
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    
            &:nth-child(3n) {
                margin-right: 0;
            }
            &:nth-last-child(-n + 3) {
                margin-bottom: 0;
            }
            &:hover,
            &:focus {
                box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px $shadow-black;}

        }

        
    &-link {
   text-decoration: none;
        
        &:hover .works-overlay,
        &:focus .works-overlay {
        opacity: 1;
        transform: translateY(0);

    } 

       
    } 
    
    &-content {
        padding: 20px 24px;
        border-bottom: 1px solid #EEEEEE;
        border-right: 1px solid #EEEEEE;
        border-left: 1px solid #EEEEEE;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        box-sizing: border-box;
        background: $title-text-color;
        font-size: inherit;
    }
    
    &-title {
        margin-bottom: 4px;
        margin-top: 0;
    
        font-weight: 700;
        font-size: inherit;
        color: $primary-text-color;
        line-height: 2;
        letter-spacing: 0.06em;
    
    }
    &-type {
        margin-bottom: 0;
        margin-top: 0;
        
        font-size: 16px;
        line-height: 1.87;
        color: $secondary-text-color;
    
    }
    &-thumb {
        position: relative;
        overflow: hidden;
    
    }
    &-overlay {
        position: absolute;
        top: 0;
        left: 0;
    
        width: 100%;
        height: 100%;
        background: rgba(33, 150, 243, 0.9);
        opacity: 0; 
        transform: translateY(100%); 
        
    
        // @include transition($animation-name: (transform, opacity));
         transition: transform $animation-duration $animation-timing-function,
         opacity $animation-duration $animation-timing-function; 
    
      } 
    
    
    &-description {
        position: absolute;
        bottom: 0;
        left: 0;
       
        display: inline-block;
        padding: 63px 24px;
        margin: 0;
        height: 100%;
    
        line-height: 1.55;
        color: $title-text-color;
    }
    .list {
        display: block;
        }
}







    


