.header {
    position: fixed;
    width: 100%;
    background-color: $primary-background-color;
    top: 0;
    z-index: 2; 
    border-bottom: 1px solid #ECECEC; 
   
    .container {
        @include centeredFlex();

        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        
    } 
} 
.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
}
.menu-button .icon-cross {
    display: none;
}

.menu-button .is-open .icon-cross {
    display: block;
}
.menu-button .is-open .icon-menu {
    display: none;
}





  


